@page{
    size:A4 portrait;
    margin:0;
}

body{
    margin:0;
    padding:0;
    font-family:"Times New Roman", serif;
    font-size:11px;
}

.copy{
    position:absolute;
    width:21cm;
    left:0.9cm;
}

.copy1{
    top:2.35cm;
}

.copy2{
    top:12.35cm;
}

.copy3{
    top:22.35cm;
}

.lr-table{
    width:100%;
    border-collapse:collapse;
}

.lr-table td{
    border:1px solid #000;
    padding:2px 4px;
    vertical-align:top;
}

.w40{
    width:40%;
}

.w20{
    width:20%;
}

.qty{
    width:80px;
    text-align:center;
    height:55px;
}

.desc{
    text-align:center;
}